<!DOCTYPE html>
<html>
<head>
  <title>BenchBnB</title>
  <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=AIzaSyD9qa_96I03Wr_693cSRkT-eINx5JE7_GQ" %>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
